nav{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  h1{
    text-decoration: underline;
  }
  button{
    padding: 0.5rem;
    cursor: pointer;
    border: 2px solid rgb(66, 66, 66);
    transition: all 0.3s ease;
    &:hover{
      color: white;
      background: rgb(66, 66, 66);
    }
  }
}

.active-library{
  transform: translateX(0%);
  opacity: 1;
}